<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Saved</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="page">

        <div class="password-card">

            <div class="lock-icon">
                ✓
            </div>

            <h1>Password Saved</h1>

            <p class="subtitle">
                This password has been added to your local password history.
            </p>

            <a href="/" class="analyze-btn"
               style="display:block; text-align:center; text-decoration:none;">
                Analyze Another Password
            </a>

        </div>

    </div>

</body>

</html>